/* Index */

.title-index
{
  text-align: center;
  background: grey;
  border-radius: 20px;
}

.img-logo
{
  text-align: center;
  margin-top: -65px;
  margin-bottom: -30px;
}

.img-logo-style
{
  border: 3px blue solid;
}

/* Compétence */

.rounded-circle {
  border-radius: 50%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.order-1 {
  -ms-flex-order: 1;
      order: 1;
}

.order-2 {
  -ms-flex-order: 2;
      order: 2;
}

.p-5 {
  padding: 3rem !important;
}

.align-items-center {
  -ms-flex-align: center !important;
      align-items: center !important;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
}